/* 設定 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans TC", serif;
    color: #4B4B4B;
}

a>h2 {
    color: #000000;
}

h1 {
    color: blue;
    font-size: 120px;
    font-weight: 700;
}

h2 {
    color: blue;
    font-size: 28px;
}

h3 {
    font-weight: 700;
}

h4 {
    color: blue;
    font-weight: 700;
}

article time {
    margin-bottom: 4px;
}

h3.subtitle {
    font-size: 64px;
    color: #000;
}

.success-cases h4 {
    color: #000000;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.g-64 {
    gap: 64px;
}

.container-1076 {
    margin: 0 auto;
    max-width: 1076px;
}

.text-truncate-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* 樣式 */

.navbar {
    min-height: 90px;
}

.text-blue {
    color: #0027D5;
}

.btn-primary {
    color: #4B4B4B;
    background: #fff;
    border: 1px solid #4B4B4B;
    border-radius: 40px;
}

.btn-secondary {
    background-color: #0027D5;
    border-radius: 40px;
    margin: 0 0 8px 8px;
}

.btn-success {
    background: #fff;
    border: 1px solid #0027D5;
    color: #0027D5;
    border-radius: 40px;
    font-weight: 700;
}

.pagination a {
    border: 0px;
    color: #4B4B4B;
}

footer a.page-link {
    padding: 0px;
}

.index-about-text a.page-link {
    padding: 0px;
}


.selfie-1 {
    background-image: url(../img/desktop/index/Hero\ Section.png);

}

.selfie-2 {
    background-image: url(../img/desktop/index/Hero\ Section2.png);
}

.selfie-1,
.selfie-2,
.newsletter-1 {
    background-size: cover;
    min-height: 834px;
    background-position: center;

}

.index-about {
    min-height: 192px;
    position: relative;
}

.index-about-text {
    position: absolute;
    font-weight: 500;
    color: #000;
    font-size: 28px;
    top: -120px;
    right: 80px;
    background-color: #fff;
    padding: 80px 40px;
}

/* index-about */

.about-cards {
    position: relative;
}

.about-content {
    max-width: 480px;
    position: absolute;
}

.about-content-l {
    left: 596px;
}

.about-content-r {
    right: 596px;
}

.about-reverse {
    flex-direction: row-reverse;
}

/* cta */
.cta a,
.cta {
    color: #000;
    font-size: 28px;
    font-weight: 700;
    vertical-align: middle;

}

.cta-circle {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 8px 12px;
}

/* index - blogs 精選 */

.blogs-select {
    max-width: 1296px;
    width: 100%;
}

.mobile-blogs-arrow {

    display: none;
    margin-top: 32px;
}

.pc-blogs-arrow {
    display: flex;
}

.blog-arrow-l,
.blog-arrow-r {
    color: #fff;
    border-radius: 50%;
    padding: 10px;
}

.blog-arrow-l {
    background-color: #B2BEF2;
}

.blog-arrow-r {
    background-color: #0027D5;
}

/* blog card */

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.btn-primary {
    margin-top: auto;
    align-self: flex-start;
}

/* success case */

.success-case-header {
    position: relative;
    font-weight: 700;
}

/* 灰色的frame */
.success-header-img {
    padding: 24px;
    background-color: #EDEDED;
    /* max-width: 745px; */
    margin-bottom: 40px;

}

.success-summary {
    background-color: #fff;
    position: absolute;
    max-width: 526px;
    top: 29px;
    left: 550px;
    padding: 80px 40px;
}

.success-cta {
    position: absolute;
    background-color: #F5F5F5;
    max-width: 526px;
    top: 285px;
    right: 0px;
    padding: 80px 40px;
}

.success-cases {
    background-color: #F5F5F5;
    padding: 24px 12px;
    justify-content: space-between;
}

.case-point {
    border-bottom: 1px solid #4B4B4B;
}

.success-cases .btn-primary {
    background-color: #F5F5F5;
    padding: 8px 16px;

}

.case-img {
    max-width: 80px;
}

/* newsletter section */
.newsletter-section{
    padding: 80px;
}

.newsletter-1{
    background-image: url(../img/desktop/index/photo9.png);
}
.newsletter-text{
    padding: 80px;
    width: 100%;
}

.newsletter-text p{
    margin-bottom: 24px;
}

.newsletter-text input{
    width: 100%;
    margin-bottom: 8px;
    border: 0px;
    background-color: #F1F1F1;
    color: #4B4B4B;
    padding: 8px 16px;
}

.newsletter-btn{
    margin-top: 16px;
}

.contact-list li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    align-items: center;
    padding: 16px 0px;
    margin: 0px;
}

.contact-list a{
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 500;
}

.contact-list p {
    display: flex;
       padding: 0px;
       margin: 0px;
       justify-content: center;
       align-items: center;
       gap: 8px;
}

.contact-mail a, .contact-mail p{
    color: #000;
    font-size: 28px;
    font-weight: 500;
    margin: 0px;
}

.contact-mail {
    padding: 16px 0px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

